.text-google-WorkSans{
    
    font-family: 'Work Sans', sans-serif;
}


.header{
    color:white;
    /*#222 is the color of the background given by bootstrap for the navbar-inverse class so i gave the header that color*/
    background:#222;
    padding:0.5% 0;
    border-radius: 0;
}

.navbar{
    border-radius: 0;
}



.cpuinfo{
    min-width: 50%;
    
}

.meminfo{
    min-width: 50%;
}


#cpuInfoCanvas{
    min-width: 60%;
    
}

#memInfoCanvas{
    min-width: 60%;

}



